body{
    background: linear-gradient(to left, #ffff66 10%, #ffcccc 91%);
}

.img{
text-align: center;
margin: 25px;
}
.img-user{
    border: solid 5px;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin: 3%;
    filter: drop-shadow(-50px 30px 10px rgba(0,0,0,0.5))
}
.formulario{
    margin: 0 auto;
    text-align: center;
    border: solid 3px;
    padding: 3%;
    border-radius: 15px;
}

input{
    background-color: transparent;
    border-radius: 15px;
    border-color: blue;
    text-align: center;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
}

#entrar{
    background-color: rgb(107, 244, 114);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 5px;
    margin: 15px;
}
#registrarse{
    background-color: rgb(254, 80, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 5px;
    margin: 15px;

}